label{
    background-color: #17A2B8;
    color: white;
    font-size: 24px;
    padding: 0 5px;
    font-weight: bold;
    border-radius: 5px;
}

button{
    margin-top:20px;
    margin-right:30px;
}

ul button{
    margin:0;
}