/* You can add global styles to this file, and also import other style files */
body{
    background-color: #DEB887;
    padding-top:20px;
    padding: 0 5%;
}

.row{
    margin-left: 0;
    margin-right: 0;
}